body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
